.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart h1 {
  font-size: 3rem;
  margin-top: 60px;
  color: rgb(196, 1, 1);
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 250px;
  margin-left: 70px;
}

.cartItem .description {
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.countHandler input {
  width: 40px;
  height: 25px;
  text-align: center;
  font-weight: bolder;
}

.countHandler button {
  width: 35px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.checkout p {
  font-size: 25px;
  font-weight: bold;
}

.checkout button {
  width: 160px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
}

.checkout button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
